.footer-contact {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.email-footer {
  color: var(--text-black);
  width: 25px;
  transition: color var(--transition-normal), filter var(--transition-normal);
}

.linkedin-logo {
  filter: brightness(0);
  height: 17px;
  transition: filter var(--transition-normal);
}
